@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  background-color: #151515;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Roboto', "Hiragino Kaku Gothic ProN",  sans-serif;
}
.under {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #151515;
  z-index: 11;
}
.under-text {
  margin: 21px;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
section {
  position: sticky;
  top: 60px;
  height: 100vh;
}
.static {
  position: static;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.main-content {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #151515;
  z-index: 11;
}
.logo {
  margin: 0;
  padding-top: 15px;
}

/* side */
.side-button {
  background-color: #151515;
  position: fixed;
  height: 100%;
  width: 60px;
  top: 0;
  cursor: pointer;
  z-index: 11;
}
.menu-button {
  margin: -30px 0 0;
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
}
.menu-button i {
  position: absolute;
  top: 30px;
  left: 17px;
  width: 26px;
  height: 2px;
  background-color: #fff;
}
.menu-button::before,
.menu-button::after {
  content: '';
  display: block;
  position: absolute;
  left: 17px;
  width: 26px;
  height: 2px;
  background-color: #fff;
}
.menu-button::before {
  top: 20px;
}
.menu-button::after {
  top: 40px;
}
.sidebar {
  background-color: rgba(45, 45, 45, 0.6);
  width: 350px;
  height: 100%;
  top: 0;
  left: -350px;
  position: fixed;
  z-index: 10;
  transition: 0.3s
}
.sidebar.open {
  left: 0;
}
.sidemenu {
  margin: 0;
  padding: 0;
  top: 50%;
  left: 60%;
  position: absolute;
  font-size: 2rem;
  letter-spacing: 2px;
  transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
  -webkit-transform: translateY(-50%) translateX(-50%);
}
.side-item {
  margin: 0 0 20px;
  list-style: none;
}

/* footer */
.footer {
  position: fixed;
  right: 0;
  height: 100%;
  width: 60px;
  background-color: #151515;
  z-index: 10;
}


.heading {
  margin: 0 0 15px;
  color: inherit;
  letter-spacing: 2px;
  font-size: 4rem;
  padding: 30px 80px 0;
  position: sticky;
  top: 60px;
}

/* top */
.top {
  padding: 60px;
  background: url('../images/img07.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.top .content {
  padding: 120px 0;
}
.site-title {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 7.6rem;
}
.site-title-sub {
  font-size: 2.2rem;
}

/* about */
.about {
  padding: 0 120px;
  background: url('../images/img08.jpg') no-repeat;
  background-size: cover;
  color: #333;
}
.about-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px 0;
}
.about-box {
  font-weight: bold;
  letter-spacing: 1px;
}
/* skills */
.skills {
  background: url('../images/img09.jpg') no-repeat;
  background-size: cover;
  padding: 0 60px;
}
.skill-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.skill-box {
  margin: 20px;
  width: 30%;
  background-color: #fff;
  color: #000;
  box-shadow:0px 0px 4px 2px #615c5e;
}
.skill-heading {
  margin: 15px 0 25px;
  font-size: 2.2rem;
}
.skill-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1.5em;
  font-size: 1.2em;
}
.rate{
position: relative;
display: inline-block;
text-align: initial;
}
.rate:before,
.rate:after{
content: "★★★★★";
}
.rate:before{
color: #ccc;
}
.rate:after{
position: absolute;
left:0;
top:0;
color: #FFA500;
overflow: hidden;
}
.rate.rate3:after{
width: 3em;
}
.rate.rate4:after{
width: 4em;
}
.rate.rate5:after{
width: 5em;
}

/* works */
.works {
  background-color: #303030;
  font-size: 0;
  padding: 0 60px;
}
.work-wrapper {
  display: table;
  table-layout: fixed;
  margin: 70px auto 50px;
}
.work-box {
  position: relative;
  display: table-cell;
}
.work-img {
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 0.3s;
}
.overlay:hover {
  opacity: 1;
}
a.expand {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 2rem;
}
.work-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  margin: 0;
}
.work-description {
  position: absolute;
  bottom: 20%;
  width: 100%;
  font-size: 12px;
}
.contact {
  background: url('../images/img10.jpg') no-repeat fixed;
  background-size: cover;
  padding: 60px;
}
.contact-wrapper {
  font-size: 3rem;
  margin-top: 60px;
}
.contact-mail,
.contact-link {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  padding: 20px;
  margin: 0;
  min-width: 40%;
}
.contact-mail {
  background-color: #a93e33;
}
.contact-link {
  background-color: #55acee;
}
/* .contact-form {
  width: 60%;
  margin: 50px auto 0;
}
.contact-form input[type=text],
.contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
}
.contact-form textarea {
  height: 150px;
}
.contact-form input[type=submit] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.contact-form input[type=submit]:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.contact-form input[type=text]:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
} */
.social-wrapper {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.social-btn {
  display: block;
  margin: 5px;
}

@media (max-width: 768px) {
  section {
    height: auto;
    min-height: 100vh;
    position: initial;
  }
  .heading {
    position: initial;
    padding: 0;
    padding-top: 30px;
    font-size: 3rem;
    opacity: 0;
  }
  .side-button {
    height: 60px;
  }
  .menu-button {
    margin: 0;
    top: 0;
  }
  .sidebar {
    width: 50%;
  }
  .sidemenu {
    width: 100%;
    left: 0;
    transform: translateY(-50%) translateX(0); /*要素の大きさの半分ずつを戻す*/
    -webkit-transform: translateY(-50%) translateX(0);
  }
  .footer {
    width: 0;
    height: 0;
  }
  .top {
    height: 100vh;
    padding: 60px 30px;
  }
  .about {
    padding: 60px 30px;
  }
  .skills {
    padding: 60px 30px;
  }
  .skill-wrapper {
    display: block;
  }
  .skill-box {
    width: auto;
  }
  .skill-heading {
    padding-top: 20px;
  }
  .works {
    padding: 60px 30px;
  }
  .work-wrapper {
    display: block;
    table-layout: auto;
  }
  .work-box {
    display: block;
    margin-bottom: 20px;
  }
  .overlay {
    opacity: 1;
  }
  .work-description {
    font-size: 10px;
  }
  .contact-form {
    width: 100%;
  }

  .elem {
    opacity: 0;
    transform: translateY(20px);
    -webkit-ransform: translateY(20px);
    transition: 1s;
  }
  .isAnimate {
    transform: translateY(0);
    -webkit-ransform: translateY(0);
    opacity: 1;
  }
}

.loading {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
